/*==================== MOBILE SCREEN ====================*/

@media screen and (max-width: 767px){

    header{
        height: 15vh;
    }
    header div#logo{
        width: 50%;
    }
    header nav{
        width: 50%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }
    header nav ul{
        width: 40vw;
        height: 22vh;
        border-radius: 0px;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        top: 10vh;
        z-index: -1;
    }
    header nav ul a{
        height: 100%;
        width: 100%;
    }
    header nav ul a:nth-child(1), header nav ul a:nth-child(2), header nav ul a:nth-child(3){ /*removendo estilos*/
        border-radius: 0px;
        border: none;
    }
    header nav menu{  /*criado via js*/
        width: 36px;
        height: 32px;
        background: url(../image/menu-icon.png) no-repeat center;
        background-size: cover;
        transition: .3s ease;
        position: relative;
        top: -50%;
    }
    /*-----------for page index----------*/
    main div#slides, main div#slides span > img{
        width: 90vw;
    }
    @keyframes slide-move{
        0%{ transform: translateX(0); }
        50%{ transform: translate(-86vw); }
        100%{ transform: translateX(-172vw); }
    }
    main section#sobre{
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    main section#sobre article{
        width: 90%;
    }
    main section#sobre article h2{
        font-size: 2em;
    }
    main section#sobre article h3{
        font-size: 1.3em;
    }
    main section#sobre article p{
        font-size: .8em;
    }
    main section#sobre article i{
        font-size: 1em;
    }
    main section#sobre div a{
        font-size: .7em;
    }
    main section#apoio{
        height: 100%;
    }
    main section#apoio div{
        flex-direction: column;
        height: 70vh;
        max-height: 500px;
    }
    main section#apoio div:nth-child(even){ /*remover efeitos*/
        flex-direction: column;
    }
    main section#apoio div p{
        width: 100%;
        font-size: 0.9em;
        line-height: normal;
    }
    main section#apoio div b{
        font-size: 1.2em;
    }

    footer{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    footer div#informes{
        font-size: 0.8em;
        text-align: center;
    }
}

/*========================= TABLET SCREEN ===========================*/

@media screen and (min-width: 768px) and (max-width: 1024px){
    
    /*----------for page index--------*/
    main section#sobre{
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    main section#apoio div{
        height: 20vh;
    }
    main section#apoio div p b{
        margin-bottom: 5%;
    }
    main section#apoio div p{
        font-size: 0.9em;
        line-height: normal;
    }

    footer{
        height: 15vh;
    }
    footer div#informes{
        width: 80%;
    }
}