@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --header-color: #C2A586;
    --footer-color: rgb(242,219,197);
    --ul-color: #FFFFFF;
    --select: #E3C8AD; 
    --main-color: #F5F5F5;
    --eventos-color: #f2dbc5;
    --contatos-color:  rgb(252,240,188);
    --button-color: rgb(250,250,58);
    --box-color: rgb(255,255,255);
    --font-principal: 'Raleway', sans-serif;
    --font-2: 'Times New Roman', Times, serif;
    --font-3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-4: serif;
}

*{
    margin: 0;
    padding: 0;
}

/*=============================== HEADER STYLE =============================*/

header{
    width: 100%;
    height: 25vh;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
}
header div#logo{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: end;
}
header div#logo > img{ 
    height: 80%;
}
header nav{
    width: 72%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
header nav ul{
    width: 75%;
    height: 28%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: var(--ul-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.28);
}
header nav ul a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
    font-size: 1em;
    font-family: var(--font-principal); 
}
header nav ul a:hover{
    background-color: var(--select);
}
header nav ul a:not(a:first-child){  /*divisorias*/
    border-left: 1px solid black;
}
header nav ul a:first-child{
    border-radius: 10px 0 0 10px;
}
header nav ul a:last-child{
    border-radius: 0 10px 10px 0;
}
header nav ul a:any-link{
    color: black;
}
header nav ul a li{
    list-style: none;
}

/*============================== MAIN STYLE ALL PAGES =================================*/

/*================ PAGE INDEX =================*/
main{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
main div#slides{
    width: 68vw;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 5%;
}
main div#slides span{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    animation: slide-move 30s 5s infinite alternate;
}
main div#slides span > img{
    height: 100%;
    width: 68vw;
}
@keyframes slide-move{
    0%{ transform: translateX(0);
    }
    50%{ transform: translate(-68vw);
    }
    100%{ transform: translateX(-136vw);
    }
}
main section#sobre{
    width: 90vw;
    height: 80vh;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 64% 36%;
    background-color: var(--box-color);
}
main section#sobre span{
    width: 100%;
    height: 100%;
    background: url(../image/nosdearte.jpg) center;
    background-size: cover;
}
main section#sobre article{
    width: 60%;
    margin: auto;
}
main section#sobre article h2{
    font: 700 3.5em var(--font-3);
}
main section#sobre article h3{
    font: 300 1.5em var(--font-2);
    font-style: italic;
}
main section#sobre article p{
    font: 300 1em var(--font-principal);
    line-height: 30px;
    margin-top: 12%;
}
main section#sobre div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 7% 0;
}
main section#sobre div img{
    height: 26px;
}
main section#sobre div a{
    text-decoration: none;
    font: 300 0.8em var(--font-principal);
    color: black;
    margin: auto 0;
}
main section#sobre article i{
    font: normal 1.3em var(--font-2);
    line-height: 28px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
main section#sobre article i b:nth-child(1){ color: #c9a177cc; }
main section#sobre article i b:nth-child(2){ color: rgba(207, 37, 207, 0.6); }
main section#sobre article i b:nth-child(3){ color: rgba(255, 217, 0, 0.7); }

main section#apoio{
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 10%;
}
main section#apoio div{
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
main section#apoio div:nth-child(even){
    flex-direction: row-reverse;
}
main section#apoio div p{
    width: 45%;
    margin: auto;
    text-align: justify;
    font: 400 1.1em var(--font-principal);
    line-height: 26px;
}
main section#apoio div p b{
    display: block;
    font-size: 2.1em;
    text-align: center;
    margin-bottom: 10%;
    font-family: var(--font-3);
}

/*================ PAGE EVENTOS =================*/
main#pageEventos{
    width: 75vw;
    margin: 0 auto;
    padding: 10vh 0;
    background-color: transparent;
}
#pageEventos section#disponiveis{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}
#pageEventos section#disponiveis h1, 
#pageEventos section#finalizados h1{
    height: 15vh;
    text-align: center;
    font: 600 3.6em var(--font-3);
    background-color: var(--box-color);
}
#pageEventos section#disponiveis div{
    height: 85%;
    width: 85%; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
#pageEventos section#disponiveis div img{
    height: 80%;
    width: 100%;
}
#pageEventos section#disponiveis div span{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: var(--box-color);
}
#pageEventos section#disponiveis div h2{
    text-align: center;
    font: 300 1.5em var(--font-principal);
}
#pageEventos section#finalizados{
    width: 80vw;
    width: 100%;
    margin-top: 5%;
}
#pageEventos section#finalizados div#registros{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px 0;
    background-color: var(--main-color);
}
#pageEventos section#finalizados div#registros > div{
    height: 100%;
    width: 40%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
    background-color: var(--eventos-color);
}
#pageEventos section#finalizados div#registros > div *{ 
    font: 300 0.95em var(--font-principal);
}
#pageEventos section#finalizados div#registros > div i{
    margin: 16px 0;
}
#pageEventos section#finalizados div#registros > div img{
    width: 92%;
}

/*================ PAGE PRODUTOS =================*/
main#pageProdutos{
    padding: 5vh 0;
}
#pageProdutos section#mensage{
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--box-color);
}
#pageProdutos section#mensage span{
    background-image: url(../image/boneca_pano.jpeg);
    background-size: cover;
    background-position: center;
}
#pageProdutos section#mensage div{
    padding: 0 12%;
}
#pageProdutos section#mensage div h2{
    font-family: var(--font-3);
    font-size: 3.6em;
    margin: 8% 0;
}
#pageProdutos section#mensage div p{
    font: italic 300 1em var(--font-4);
    line-height: 28px;
}
#pageProdutos section#produtos{
    width: 90%;
    height: 100%;
    margin: 5% auto;
    background-color: var(--box-color);
}
#pageProdutos section#produtos > h2{
    font: 400 1.7em var(--font-principal);
    padding: 2%;
}
#pageProdutos section#produtos > div#local{
    margin: 3% auto;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10vh 0;
}
#pageProdutos section#produtos div#local > div{ /*produtos ficam aqui*/
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
}
#pageProdutos section#produtos div#local > div > img{
    width: 95%;
    height: 70%;
    margin-bottom: 5%;
}
#pageProdutos section#produtos div#local > div > h3{
    font: 300 0.9em var(--font-principal);
}
#pageProdutos section#produtos div#local > div > p{
    font: 300 1em var(--font-3);
    margin: 3% 0;
}
#pageProdutos section#produtos div#local > div > p::before{
    content: 'R$ ';
}
#pageProdutos section#produtos div#local > div > button{
    width: 95%;
    height: 12%;
    color: white;
    font: 500 1em var(--font-principal);
    border: 1px solid transparent;
    cursor: pointer;
    background-color: var(--button-color);
    transition: .2s ease;
}
#pageProdutos section#produtos div#local > div > button:hover{
    background-color: rgb(228, 228, 19);
}
#pageProdutos section#mensage-2{
    width: 90%;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--box-color);
}
#pageProdutos section#mensage-2 p{
    font-size: 1.8em;
    font-family: var(--font-principal);
}

/*================ PAGE CONTATO =================*/
main#pageContato{
    width: 75vw;
    height: 50vh;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    background-color: var(--box-color);
}
#pageContato div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--contatos-color);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 6px 6px #ccc;
}
#pageContato div h2{
    margin-bottom: 6%;
    font: 400 2em var(--font-principal);
}
#pageContato div span{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
}
#pageContato div span > a{
    color: black;
    margin-left: 8px;
    text-decoration: none;
    font: 600 1.4em var(--font-3);
}
#pageContato div span > i{
    width: 24px;
    height: 24px;
    background-image: url(../image/whatsapp-icon.png);
    background-size: cover;
}
#pageContato div > span:last-child i{
    background-image: url(../image/instagram-icon2.png);
}
#pageContato figure > img{
    width: 100%;
    height: 100%;
}

/*=============================== FOOTER STYLE ================================*/

footer{
    width: 100%;
    height: 18vh;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    background-color: var(--footer-color);
}
footer div#informes{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}
footer div#informes p{
    font-family: var(--font-principal);
    margin-left: 25px;
}
footer div#informes p:nth-child(2){
    margin-bottom: 20px;
}
footer div#midias{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer div#midias img{
    width: 24px;
}
footer div#midias a{
    text-decoration: none;
    font-size: 0.9em;
    color: black;
    font-family: var(--font-principal);
}
footer div#midias a:hover{
    text-decoration: underline;
}