@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --header-color: #C2A586;
    --footer-color: rgb(242,219,197);
    --ul-color: #FFFFFF;
    --select: #E3C8AD;
    --main-color: #F5F5F5;
    --quem_somos-color: rgb(255, 255, 255);
    --principal-font: 'Raleway', sans-serif;
    --font-2: 'Times New Roman', Times, serif;
    --font-3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/*=============================== HEADER STYLE =============================*/

header{
    width: 100%;
    height: 25vh;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
}
header div#logo{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
}
header div#logo > img{ 
    height: 80%;
}
header nav{
    width: 75%;
    display: flex;
    align-items: center;
    margin-left: 10%;
}
header nav ul{
    width: 70%;
    height: 28%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: var(--ul-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.28);
}
header nav ul a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: .4s ease;
    font-size: 1em;
    font-family: var(--principal-font); 
}
header nav ul a:hover{
    background-color: var(--select);
}
header nav ul a:nth-child(2){  /*divisorias*/
    border-right: 1px solid black;
    border-left: 1px solid black;
}
header nav ul a:nth-child(1){
    border-radius: 10px 0 0 10px;
}
header nav ul a:nth-child(3){
    border-radius: 0 10px 10px 0;
}
header nav ul a:any-link{
    color: black;
}
header nav ul a li{
    list-style: none;
}

/*================================ MAIN STYLE =================================*/

main{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
/*-----------For page index-----------*/
main div#slides{
    width: 68vw;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 5% 0;
}
main div#slides span{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    animation: slide-move 30s 5s infinite alternate;
}
main div#slides span > img{
    height: 100%;
    width: 68vw;
}
@keyframes slide-move{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translate(-68vw);
    }
    100%{
        transform: translateX(-136vw);
    }
}
main section#sobre{
    width: 90vw;
    height: 80vh;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 64% 36%;
    background-color: var(--quem_somos-color);
}
main section#sobre span{
    width: 100%;
    height: 100%;
    background-image: url(../image/nosdearte.jpg);
    background-size: cover;
}
main section#sobre article{
    width: 60%;
    margin: auto;
}
main section#sobre article h2{
    font-family: var(--font-3);
    font-weight:700;
    font-size: 3.5em;
}
main section#sobre article h3{
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 1.5em;
    font-style: italic;
}
main section#sobre article p{
    font-family: var(--principal-font);
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    margin-top: 12%;
}
main section#sobre div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 7% 0;
}
main section#sobre div img{
    height: 26px;
}
main section#sobre div a{
    text-decoration: none;
    font-family: var(--principal-font);
    font-size: .75em;
    font-weight: 300;
    color: black;
    margin: auto 0;
}
main section#sobre article i{
    font-family: var(--font-2);
    margin-top: 5%;
    font-size: 1.3em;
    font-style: normal;
    line-height: 28px;
    display: flex;
    flex-direction: column;
}
main section#sobre article i b:nth-child(1){ color: #c9a177cc; }
main section#sobre article i b:nth-child(2){ color: rgba(207, 37, 207, 0.6); }
main section#sobre article i b:nth-child(3){ color: rgba(255, 217, 0, 0.7); }

main section#apoio{
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}
main section#apoio div{
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
main section#apoio div:nth-child(even){
    flex-direction: row-reverse;
}
main section#apoio div p{
    width: 45%;
    margin: auto;
    font-family: var(--principal-font);
    line-height: 26px;
    font-size: 1.1em;
    text-align: justify;
}
main section#apoio div p b{
    display: block;
    font-size: 2.1em;
    text-align: center;
    margin-bottom: 10%;
    font-family: var(--font-3);
}

/*=============================== FOOTER STYLE ================================*/

footer{
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    background-color: var(--footer-color);
}
footer div#informes{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}
footer div#informes p{
    font-family: var(--principal-font);
    margin-left: 25px;
}
footer div#informes p:nth-child(2){
    margin-bottom: 20px;
}
footer div#midias{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer div#midias img{
    width: 24px;
}
footer div#midias a{
    text-decoration: none;
    font-size: 0.9em;
    color: black;
    font-family: var(--principal-font);
}
footer div#midias a:hover{
    text-decoration: underline;
}